:root {
  margin: 0;
  background-color: #292929;
  color: white;
  font-family: sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

.dashboard__title {
  text-align: center;
}

.dashboard__banner {
  text-align: center;
  background-color: #333333;
  padding: 0.7rem;
  margin: 0;
}

.dashboard__moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem 1.5rem;
  list-style-type: none;
  padding: 0 1rem;
}

.movie__Image {
  width: 100%;
  height: 100%;
}

.movie__title {
  padding: 0;
  margin: 0;
}
